.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: 300px;
  background-color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.top-right-close {
  font-size: large;
  color: brown;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
